bertopic==0.16.2
dask==2023.3.1
Flask==2.2.5
flask_restx==1.1.0
hdbscan==0.8.38.post1
pandas==2.2.3
pyfiglet==0.8.post1
PyYAML==6.0.2
scikit_learn==1.5.2
sentence_transformers==2.2.2
spacy==3.7.5
spacy_download==1.1.0
termcolor==2.5.0
